.container {
    max-width: 400px;
    margin: auto;
    padding: 1rem;
    font-family: Arial, sans-serif;
  }

  .background{
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; 
    width: 100%;
    
}
  
  .formTitle {
    font-size: 2rem;
    margin-bottom: 3rem;
    text-align: center;
    color: #333;
  }

  .formWord{
    color: #f6993f;
    font-size: 3rem;
  }
  
  .formGroup {
    margin-bottom: 1.2rem;
    display: flex;
    gap: 1.5rem;
  }

  .formGroupL {
    margin-bottom: 1.2rem;
    display: flex;
    gap: 1.5rem;
    height: 200px;
  }
  
  
  .label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  .input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem;
    width: 100%;
    font-size: 1rem;
  }
  
  
  .input:focus {
    border-color: #292929;
    outline: none;
  }
  
  .submitButton {
    background-color: #f79738;;
    color: white;
    border: none;
    padding: 1rem;
    width: 100%;
    border-radius: 5px;
    margin-top: 1rem;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .submitButton:hover {
    background-color: #f4912e;;
  }
  
  .fullWidth {
    flex: 1;
  }
  
  .halfWidth {
    flex: 1;
  }
  
  .terms {
    margin-top: 1rem;
    display: flex;
    align-items: center;
  }
  
  .terms input {
    margin-right: 0.5rem;
  }
  
  /* Adjust label/input alignment as needed */
  @media screen and (max-width: 600px) {
    .formGroup {
      flex-direction: column;
    }
  }