.homepage {
    color: #fff;
    background-color: #141414;
  }
  
  .movies-row {
    display: flex;
    overflow-x: auto;
  }
  
  .movie {
    margin-right: 20px;
  }
  
  .movie img {
    width: 100px;
    height: auto;
    object-fit: cover;
  }